* {
  box-sizing: border-box;
  background-color: #1A1B21;
}

.Intro > img{
  position: absolute;
  width: 300px;
  height: 300px;
  left: -0px;
  top: 0px;

  background: url(.png);
  border-radius: 10px 10px 0px 0px;
}
.Intro > h4{
  position: absolute;
width: 178.06px;
height: 25.81px;
left: 65px;
top: 280px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}
.Intro > h5{
  position: absolute;
  width: 178.06px;
  height: 14.19px;
  left: 65px;
  top: 325px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;

}
.Intro > h6{
  position: absolute;
  width: 228px;
  height: 16px;
  left: 45px;
  top: 340px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */

  text-align: center;

  color: #F5F5F5;

}
.Email{
  
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;

position: absolute;
width: 115px;
height: 34px;
left: 30px;
top: 390px;

/* white */

background: #FFFFFF;
/* gray/300 */

border: 1px solid #D1D5DB;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}
.Email > h7{
  
width: 36px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
/* gray/700 */
background-color: white;
color: #374151;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
  
.Linkedin {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;

position: absolute;
width: 115px;
height: 38px;
left: 155px;
top: 390px;

background: #5093E2;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

/* Text */

.Linkedin > h7 {
  width: 57px;
  height: 16px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  background-color: #5093E2;
  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.About > h1 {
  position: absolute;
width: 242.71px;
height: 21px;
left: 30px;
top: 445px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* or 24px */


color: #F5F5F5;

}

.About > h7 {
  position: absolute;
  width: 247px;
  height: 61px;
  left: 30px;
  top: 480px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */


  color: #DCDCDC;

}
.Interests > h1 {
  position: absolute;
width: 242.71px;
height: 21px;
left: 30px;
top: 560px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* or 24px */


color: #F5F5F5;

}

.Interests > h7 {
  position: absolute;
  width: 247px;
  height: 61px;
  left: 30px;
  top: 595px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */


  color: #DCDCDC;

}
.Footer {
  position: absolute;
width: 300px;
height: 64px;
left: 0px;
top: 700px;

background: #161619;
border-radius: 0px 0px 10px 10px;
}
.Footer > button {
 position: absolute;
left: 44.73%;

top: 1.8%;
bottom: 7.32%;
border: none;
background: none;

background: #918E9B;
}